<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Akshar&family=Archivo+Black&family=Assistant:wght@200;300&family=Bangers&family=Carter+One&family=Dancing+Script:wght@500;600&family=Fjalla+One&family=Gulzar&family=Hind+Siliguri:wght@400;500;700&family=Karla:wght@200&family=Lato&family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,200&family=Ms+Madi&family=Mukta:wght@300;800&family=Nunito:wght@200;300&family=Orelega+One&family=Oswald&family=Oxygen:wght@700&family=PT+Sans+Narrow&family=Permanent+Marker&family=Poppins:wght@100&family=Quicksand:wght@500&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100&family=Roboto+Mono:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik&family=Square+Peg&family=The+Nautigal:wght@400;700&family=Varela+Round&family=Vollkorn:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/headline.css">
    <link rel="stylesheet" href="../css/cart.css">
    <link rel="stylesheet" href="../css/account/acount.css">
    <title>Sanny đăng nhập</title>
</head>
<body>
    <div class="wrapper">
        <header id="top" class="header">
            <div class="headline">
                <div class="contact">
                    <div class="left-contact">
                        <ul class="list-icon">
                            <li class="icon-item"><a href="#">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a></li>
                            <li class="icon-item"><a href="#">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a></li>
                            <li class="icon-item"><a href="#">
                                <ion-icon name="logo-pinterest"></ion-icon>
                            </a></li>
                            <li class="icon-item"><a href="#">
                                <ion-icon name="logo-google"></ion-icon>
                            </a></li>
                            <li class="icon-item"><a href="#">
                                <ion-icon name="logo-instagram"></ion-icon>
                            </a></li>
                            <li class="icon-item call">
                                <div class="title">
                                    Call:
                                </div>
                                <div class="number-phone">
                                    0812600873
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="right-contact">
                        hello
                    </div>
                </div>
                <div class="site-header ">
                    <nav class="menu">
                        <li class="menu-item">
                            <a href="#">Trang chủ</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Sản phẩm</a>
                            <ion-icon name="chevron-down-outline"></ion-icon>
                            <div class="menu-level-2">
                                <div class="menu-level-2-items">
                                    <a href="#">Áo</a>
                                    <ion-icon name="chevron-down-outline"></ion-icon>
                                    <div class="menu-level-3">
                                        <div class="menu-level-3-items"><a href="#">áo thun</a></div>
                                        <div class="menu-level-3-items"><a href="#">áo polo</a></div>
                                        <div class="menu-level-3-items"><a href="#">áo sơ mi</a></div>
                                    </div>
                                </div>
                                <div class="menu-level-2-items">
                                    <a href="#">Quần</a>
                                    <ion-icon name="chevron-down-outline"></ion-icon>
                                    <div class="menu-level-3">
                                        <div class="menu-level-3-items"><a href="#">quần dài</a></div>
                                        <div class="menu-level-3-items"><a href="#">quần ngắn</a></div>
                                    </div>
                                </div>
                                <div class="menu-level-2-items">
                                    <a href="#">Áo khoác</a>
                                    <ion-icon name="chevron-down-outline"></ion-icon>
                                    <div class="menu-level-3">
                                        <div class="menu-level-3-items"><a href="#">Hoodie</a></div>
                                        <div class="menu-level-3-items"><a href="#">Cardigan</a></div>
                                        <div class="menu-level-3-items"><a href="#">sweater</a></div>
                                        <div class="menu-level-3-items"><a href="#">jacket</a></div>
                                    </div>
                                </div>
                                <div class="menu-level-2-items">
                                    <a href="#">phụ kiện</a>
                                    <ion-icon name="chevron-down-outline"></ion-icon>
                                    <div class="menu-level-3">
                                        <div class="menu-level-3-items"><a href="#">nón</a></div>
                                        <div class="menu-level-3-items"><a href="#">dép</a></div>
                                        <div class="menu-level-3-items"><a href="#">túi xách</a></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="menu-item">
                            <a href="#">Bài viết</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Liên hệ</a>
                        </li>
                    </nav>
                    <div class="logo">
                        <a href="#">
                            <img src="../img/logo/logo.png" alt="">
                        </a>
                    </div>
                    <div class="action">
                        <div class="action-item search">
                            <form onsubmit="return false" action="#">
                                <input type="text"  placeholder="">
                                <button ><ion-icon name="search-outline"></ion-icon></button>
                            </form>
                        </div>
                        <div class="action-item">
                            <a href="./login.html"><ion-icon name="person-outline"></ion-icon></a>
                        </div>
                        <div class="action-item">
                            <ion-icon name="heart-outline"></ion-icon>
                        </div>
                        <div  class="action-item cart">
                            <div class="quantity-cart">0</div>
                            <ion-icon name="cart-outline"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container banner">
            <div class="main-body">
                <h2 class="title">Đăng Nhập</h2>
                <div class="to-sign-up">
                    <span>Bạn chưa có tài khoản?</span><a href="./sign_up.html">Đăng ký</a>
                </div>
                <div class="form-login">
                    <form action="#">
                        <div class="group-input">
                            <input type="text" name="userName" placeholder="Mail hoặc số điện thoại" class="user-name input-login">
                            <span class="erorr"></span>
                            <div class="line"></div>
                        </div>
                        <div class="group-input">
                            <input type="password" name="userName" placeholder="Mật khẩu" class="user-name input-password">
                            <span class="erorr"></span>
                            <div class="line"></div>
                        </div>
                        <div class="remember">
                            <input type="checkbox"><span>Ghi nhớ tài khoản</span>
                        </div>
                        <div class="confirm">
                            <a href="#" class="forget">Quên mật khẩu ?</a>
                            <input type="submit" value="Đăng nhập">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer-items">
                <div class="title">Về chúng tôi</div>
                <div class="text">Sanny – Popular Streetwear Brand</div>
                <div class="info">
                    HỘ KINH DOANH Red Label<br>
    
                    GPKD được cấp bởi Cục Cảnh sát QLHC & TTXH<br>
    
                    Trụ sở hộ kinh doanh: 842 Sư Vạn Hạnh, Phường 13, Quận 10, Tp. Hồ Chí Minh<br>
    
                    Mä só thuê: 41K0011547<br>
    
                    Ngày cấp: 06/07/2021<br>
    
                    Người đại diện: Phạm Phước Trường<br>
    
                    Mã Số thuế cá nhân: 0383624629632-003<br>
                </div>
            </div>
                <div class="footer-items">
                    <div class="title">
                        Liên hệ
                    </div>
                    <div class="content">
                        <span>Hotline</span>
                        <p>0812608562</p>
                    </div>
                    <div class="content">
                        <span>Email</span>
                        <p>truongb2011999@student.ctu.edu.vn</p>
                    </div>
                    <div class="content">
                        <span>Thứ 2 - chủ nhật</span>
                        <p>08:30 - 21:30</p>
                    </div>
                    <div class="content">
                        <span>Email liên hệ</span>
                        <p>phuoctruong727@gmail.com</p>
                    </div>
                </div>
                <div class="footer-items">
                    <div class="title">Danh mục sản phẩm</div>
                    <li><a href="#">Tất cả</a></li>
                    <li><a href="#">New Arrival</a></li>
                    <li><a href="#">Áo</a></li>
                    <li><a href="#">Quần</a></li>
                    <li><a href="#">Outerwear</a></li>
                    <li><a href="#">Ba lô</a></li>
                    <li><a href="#">Phụ kiện</a></li>
                    <li><a href="#">BST</a></li>
                </div>
                <div class="footer-items">
                    <div class="title">Hỗ trợ</div>
                    <li><a href="#">Sanny FABRIC</a></li>
                    <li><a href="#">Tài khoản</a></li>
                    <li><a href="#">Chính sách vận chuyển</a></li>
                    <li><a href="#">Thanh toán trực tuyến</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Chính sách bảo hành</a></li>
                    <li><a href="#">Chính sách khiếu nại</a></li>
                </div>
                <div class="footer-items">
                    <div class="title">Cửa hàng</div>
                    <li><a href="">278A, 30/04, Phường Xuân Khánh, Quận Ninh Kiều, Cần Thơ</a></li>
                    <div class="list-contact">
                        <ion-icon name="logo-facebook"></ion-icon>
                        <ion-icon name="logo-instagram"></ion-icon>
                        <ion-icon name="logo-tiktok"></ion-icon>
                        <ion-icon name="logo-youtube"></ion-icon>
                    </div>
                </div>
            <div class="bottom-line">
                <a href="#">Sanny -  Popular Streetwear brand</a>
                <a href="#">Tuyển dụng</a>
            </div>
        </footer>
        <div class="to-top">
            <a href="#top"><ion-icon name="chevron-up-outline"></ion-icon></a>
        </div>
    </div>
</body>
<script src="../js/header/header_site/search.js"></script>
<script src="../js/header/header_site/header_sticky.js"></script>
</html>